a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  margin: 0;
  padding: 0;
}

.name-section {
  display: none;
}
