<section class="apartment" id="apartments">
  <div class="container">
    <h2 class="section-title">Choose your apartment</h2>
    <ul class="apart-list">
      <li class="apart-item">
        <img
          class="apart-image"
          src="./images/mobile/apartament-1.jpg"
          alt="type№1-apartment"
        />
        <h3 class="apart-name">Type 1</h3>
        <p class="apart-subtitle">total area 23 meters</p>
      </li>
      <li class="apart-item">
        <img
          class="apart-image"
          src="./images/mobile/apartament-2.jpg"
          alt="type№2-apartment"
        />
        <h3 class="apart-name">Type 2</h3>
        <p class="apart-subtitle">total area 27 meters</p>
      </li>
      <li class="apart-item">
        <img
          class="apart-image"
          src="./images/mobile/apartament-3.jpg"
          alt="type№3-apartment"
        />
        <h3 class="apart-name">Type 3</h3>
        <p class="apart-subtitle">total area 31 meters</p>
      </li>
    </ul>
    <button class="appart-button">Download catalog</button>
  </div>
</section>
