<section class="benefits" id="about">
  <div class="container">
    <h2 class="name-section">Benefits</h2>
    <div class="content">
      <ul class="benefits-list">
        <li class="benefits-item">
          <svg width="32" height="32">
            <use href="icons/sprite/symbol-defs.svg#suitcase"></use>
          </svg>
          <p class="benefits-description">15 years of experience</p>
        </li>
        <li class="benefits-item">
          <svg width="32" height="32">
            <use href="icons/sprite/symbol-defs.svg#graph"></use>
          </svg>
          <p class="benefits-description">30 thousand happy residents</p>
        </li>
        <li class="benefits-item">
          <svg width="32" height="32">
            <use href="icons/sprite/symbol-defs.svg#home"></use>
          </svg>
          <p class="benefits-description">22 houses built</p>
        </li>
        <li class="benefits-item">
          <svg width="32" height="32">
            <use href="icons/sprite/symbol-defs.svg#star"></use>
          </svg>
          <p class="benefits-description">9 awards</p>
        </li>
      </ul>
      <div>
        <h3 class="benefits-title">Philosophy of our company</h3>
        <p class="benefits-text">
          Residential complex “Nice view” is an island of tranquility, security
          and comfort. <br />
          In our project, we created the opportunity to lead a measured life in
          the very center of the city.
        </p>
      </div>
    </div>
  </div>
</section>
