<div class="contacts">
    <div class="container">
        <h2 class="contacts-title">Get in touch!</h2>
        <p class="contacts-text">Contact us for a quote.</p>
        <div>
            <ul>
                <li><a href="#">4517 Washington Ave.</a></li>
                <li><a href="#">willie.jennings@example.com</a></li>
                <li><a href="#">(+33)7 00 55 54 79</a></li>
            </ul>
            <button type="button" class="contacts-button">Contact us</button>
        </div>
    </div>
</div>