<div class="contacts">
    <div class="container">
        <h2 class="contacts-title">Get in touch!</h2>
        <p class="contacts-text">Contact us for a quote.</p>
        <div class="wrapper">
            <ul class="contacts-list">
                <li class="contacts-list-item">
                    <a href="#" class="contacts-link">
                        <svg class="contacts-icons" width="16" height="12">
                            <use href="./icons/sprite/symbol-defs.svg#icon-navigation"></use>
                        </svg>
                        <span>4517 Washington Ave.</span>
                    </a>
                </li>
                <li class="contacts-list-item">
                    <a href="#" class="contacts-link">
                        <svg class="contacts-icons" width="16" height="12">
                            <use href="./icons/sprite/symbol-defs.svg#icon-messages"></use>
                        </svg>
                        <span>willie.jennings@example.com</span>
                    </a>
                </li>
                <li class="contacts-list-item">
                    <a href="#" class="contacts-link">
                        <svg class="contacts-icons" width="16" height="12">
                            <use href="./icons/sprite/symbol-defs.svg#icon-phone"></use>
                        </svg>
                        <span>(+33)7 00 55 54 79</span>
                    </a>
                </li>
            </ul>
            <button type="button" class="contacts-button">Contact us</button>
        </div>
    </div>
</div>