<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="name-section">Contacts</h2>
    <h3 class="section-title">Get in touch!</h3>
    <p class="contacts-text">Contact us for a quote.</p>
    <address class="wrapper">
      <ul class="contacts-list">
        <li class="contacts-list-item">
          <a
            href="https://www.google.com/maps/place/"
            class="contacts-link"
            target="_blank"
          >
            <svg class="contacts-icons" width="16" height="12">
              <use href="./icons/sprite/symbol-defs.svg#icon-navigation"></use>
            </svg>
            4517 Washington Ave.
          </a>
        </li>
        <li class="contacts-list-item">
          <a href="mailto:willie.jennings@example.com" class="contacts-link">
            <svg class="contacts-icons" width="16" height="12">
              <use href="./icons/sprite/symbol-defs.svg#icon-email"></use>
            </svg>
            willie.jennings@example.com
          </a>
        </li>
        <li class="contacts-list-item">
          <a href="tel:+33700555479" class="contacts-link">
            <svg class="contacts-icons" width="16" height="12">
              <use href="./icons/sprite/symbol-defs.svg#icon-phone"></use>
            </svg>
            (+33)7 00 55 54 79
          </a>
        </li>
      </ul>
      <button type="button" class="contacts-button" data-modal-open-contact>
        Contact us
      </button>
    </address>
  </div>
</section>
