<footer class="footer">
  <div class="container flex">
    <a class="logo" href="">NICE <br />VIEW</a>
    <ul class="navigation-footer-list">
      <li class="navigation-footer-item">
        <h3 class="title-list-text">Navigation</h3>
      </li>
      <li class="navigation-footer-item">
        <a class="list-text-footer" href="/">Home</a>
      </li>
      <li class="navigation-footer-item">
        <a class="list-text-footer" href="#about">About</a>
      </li>
      <li class="navigation-footer-item">
        <a class="list-text-footer" href="#apartments">Apartments</a>
      </li>
      <li class="navigation-footer-item">
        <a class="list-text-footer" href="#infrastructure">Infrastructure</a>
      </li>
      <li class="navigation-footer-item">
        <a class="list-text-footer" href="/">Gallery</a>
      </li>
    </ul>
    <ul class="contact-footer-list">
      <li class="contact-footer-item title-list-text">
        <h3 class="title-list-text">Contacts</h3>
      </li>
      <li class="contact-footer-item list-text-footer">(406) 555-0120</li>
      <li class="contact-footer-item">
        <address class="list-text-footer">
          ul. Chodkiewicza Karola 111, Chorzów
        </address>
      </li>
      <li class="contact-footer-item list-text-footer">
        deanna.curtis@example.com
      </li>
    </ul>
    <ul class="social-footer-list">
      <li class="social-footer-item">
        <svg width="24px" height="24px">
          <use href="./icons/sprite/symbol-defs.svg#icon-youtube"></use>
        </svg>
      </li>
      <li class="social-footer-item">
        <svg width="24px" height="24px">
          <use href="./icons/sprite/symbol-defs.svg#icon-instagram"></use>
        </svg>
      </li>
      <li class="social-footer-item">
        <svg width="24px" height="24px">
          <use href="./icons/sprite/symbol-defs.svg#icon-twitter"></use>
        </svg>
      </li>
      <li class="social-footer-item">
        <svg width="24px" height="24px">
          <use href="./icons/sprite/symbol-defs.svg#icon-facebook"></use>
        </svg>
      </li>
    </ul>
  </div>
  <p class="Privacy-footer-text">
    By using this website, you agree to the
    <a
      class="Privacy-footer-link list-text-footer line"
      target="_blank"
      href="#"
      >Terms of Service</a
    >
    and
    <a
      class="Privacy-footer-link list-text-footer line"
      target="_blank"
      href="#"
      >Privacy Policy</a
    >
  </p>
</footer>
