<header>
  <div class="header">
  <a class="logo" href="">NICE <br />VIEW</a>
  <nav class="nav">
    <ul class="menu-list">
      <li class="menu-item">
        <a class="menu-link" href="/" >Home</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="#about"">About</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="#apartments">Apartments</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="#infrastructure"
          >Infrastructure</a
        >
      </li>
      <li class="menu-item">
        <a class="menu-link" href="#gallery">Gallery</a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="#footer"">Contacts</a>
      </li>
    </ul>
  </nav>
  <button type="button" class="button-header link-button" data-modal-open-contact>
    Contact us
</button>
  <div class="burger">
    <span></span>
  </div>
</div>
</header>