<div class="hero">
    <div class="contaier">
        <h1 class="hero-title">Nice view</h1>
        <p class="hero-text">For your comfortablevlife with your family</p>
        <ul class="hero-list-svg">
            <li class="hero-list-item">
                <svg class="hero-icon-persons">
                    <use href="./icons/sprite/symbol-defs.svg#icon-three-persons"></use>
                </svg>
            </li>
            <li class="hero-list-item">
                <svg class="hero-icon-pavan">
                    <use href="./icons/sprite/symbol-defs.svg#icon-Illustration---pavan-704"></use>
                </svg>
            </li>
        </ul>
        <button type="button" class="hero-button" data-modal-open>Contact us</button>
    </div>
    <!-- <div class="backdrop is-hidden" data-backdrop>
        <div class="modal">
            <button type="button">
            </button>
            <h2 class="hero-modal-title">Leave your contacts and we will contact you</h2>
            <form autocomplete="on">
                <div class="modal-form-field">
                    <label class="modal-form-field-label" for="name">Name</label>
                    <input class="modal-form-field-input" placeholder="Yuliia" type="text" id="name" name="name">
                </div>
                <div class="modal-form-field">
                    <label for="email" class="modal-form-field-label">Telephone</label>
                    <input class="modal-form-field-input" placeholder="+380" type="text" id="password" name="email">
                </div>
                <div class="modal-form-field">
                    <label class="modal-form-field-label" for="password">Email</label>
                    <input class="modal-form-field-input" placeholder="Contact@gmail.com" type="text" id="email"
                        name="password">
                </div>
                <button type="submit" class="hero-modal-button">Contact us</button>
            </form>
        </div>
    </div> -->
</div>