<section class="infrastructure" id="infrastructure">
  <div class="container-infra">
    <h2 class="section-title section-title__padding">Infrastructure</h2>
    <div class="background-fon">
      <ul class="list-menu-text fon-infrasrtructure">
        <li class="list-item-text">
          <p class="item-text">
            2<br />
            minutes <br />walk
          </p>
          <p class="list-text">to the supermarket</p>
        </li>
        <li class="list-item-text">
          <p class="list-text">to the coffee shop</p>
          <p class="item-text">
            4<br />
            minutes<br />
            walk
          </p>
        </li>
        <li class="list-item-text">
          <p class="item-text">
            7<br />
            minutes <br />walk
          </p>
          <p class="list-text">to the nearest park</p>
        </li>
      </ul>
    </div>
  </div>
</section>
