<section class="Infrastructure">
  <div class="container-infra">
    <p class="text-infrastructure">Infrastructure</p>
    <div class="fon">
      <div class="fon-infrasrtructure">
        <ul class="list-menu-text">
          <li class="list-item-text">
            <p class="item-text">2<br> minutes <br>walk</p>
          </li>
          <li class="list-limk-text">
            <p class="list-text">to the supermarket</p>
          </li>
        </ul>
        <ul class="list-menu-text">
          <li class="list-link-text">
            <p class="list-text">to the coffee shop</p>
          </li>
          <li class="list-item-text">
            <p class="item-text">4<br> minutes<br> walk</p>
          </li>
        </ul>
        <ul class="list-menu-text">
          <li class="list-item-text">
            <p class="item-text">7<br> minutes <br>walk</p>
          </li>
          <li class="list-link-text">
            <p class="list-text">to the nearest park</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
