.benefits {
  position: relative;
  height: 800px;
  padding: 61px 0;
  background-color: #ede9e3;
  background-image: url(/src/images/mobile/benefits-mb.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $maincolor;
  font-weight: 400;
  font-size: 16px;
  
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/src/images/mobile/benefits-mb@2x.jpg);
  }
  @media screen and (min-width: 768px) {
    padding: 85px 0;
    background-image: url(/src/images/tablet/benefits-tb.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/tablet/benefits-tb@2x.jpg);
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(/src/images/dasktop/benefits-dt.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/dasktop/benefits-dt@2x.jpg);
    }
  }
}

.content {
  width: 100%;
  position: absolute;
  left: 0;
  height: 400px;
  background-color: rgb(253, 253, 252, 90%);
  padding: 20px;

  @media screen and (min-width: 768px) {
    display: flex;
    height: 325px;
    padding: 32px;
  }
  @media screen and (min-width: 1280px) {
    height: 340px;
    justify-content: space-between;
    padding: 67px 130px;
  }
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  @media screen and (min-width: 768px) {
    gap: 32px;
  }
  @media screen and (min-width: 1280px) {
    width: 505px;
  }
}

.benefits-item {
  width: 130px;
  @media screen and (min-width: 1280px) {
    width: 235px;
  }
}

.benefits-description {
  margin-top: 25px;
}

.benefits-title {
  // font-weight: 300;
  font-size: 16px;
  color: #2d2a22;
  margin-top: 45px;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    margin-top: 30px;
  }
}

.benefits-text {
  font-size: 12px;
  line-height: 1.7;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    width: 336px;
    margin-top: 16px;
  }
  @media screen and (min-width: 768px) {
    width: 393px;
  }
}

.man-with-laptop {
  position: absolute;
  left: 185px;
  top: 440px;
  @media screen and (min-width: 768px) {
    top: 390px;
    left: 460px;
  }
  @media screen and (min-width: 1280px) {
    top: 390px;
    left: 570px;
  }
}
