.one{
    background-image:url("../icons/sprite/Vector.svg");
}
.two{
    background-image: url("/src/icons/sprite/Vector\ 1.svg");
}
.carousel-inner.box{
    margin-left: auto;
    margin-top: 300px;
    margin-bottom: 300px;
    margin-right: auto;
    }
.carousel-inner{
    width: 70%;
}