.gallery{
  padding-top: 60px;
}
.title-gallery{

font-weight: 500;
font-size: 40px;
color: #7e6d53;
}
.one {
  background-image: url('../icons/sprite/Vector.svg');
}
.two {
  background-image: url('/src/icons/sprite/Vector\ 1.svg');
}
.carousel-inner.box {
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-right: auto;
}
.carousel-inner {
  width: 70%;
}
.carousel.slide {
  margin-top: 25px;
  padding-bottom: 10px;
}
.carousel-indicators {
  margin-bottom: 0;
}
.carousel-indicators button[data-bs-slide-to] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c4c4c4;
}
