.Infrastructure {
  background-color: rgb(237, 233, 227);
  height: 557px;
  @media screen and (min-width: 768px) {
    height: 670px;
  }
}

.container-infra {
  position: relative;
  padding-left: 0;
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding: 0 68px;
    margin: 0 auto;
  }
}

.text-infrastructure {
  padding: 60px 0 24px 20px;
  color: rgb(126, 109, 83);
  font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  @media screen and (min-width: 768px) {
    padding: 100px 0 24px 32px;
    font-size: 40px;
    line-height: 60px;
  }
  @media screen and (min-width: 1280px) {
    padding: 100px 0 20px 68px;
  }
}

.background-fon {
  width: 100%;
  background-size: cover;
  align-items: center;
  background-image: url(../images/mobile/infrastructure-mb.jpg);
  min-width: 320px;
  height: 431px;
  background-repeat: no-repeat;
  padding: 40px 20px;
  @media screen and (min-width: 768px) {
    width: 100%;
    background-image: url(../images/tablet/infrastructure-tb.jpg);
    min-width: 768px;
    height: 486px;
    padding: 8px 37px 8px 0;
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/dasktop/infrastructure-dt.jpg);
    min-width: 1144px;
    width: 1144px;
    height: 486px;
    margin: 8px 68px 8px 68px;
    margin: 0 auto;
  }
}

.fon-infrasrtructure {
  margin: 0 auto;
  align-items: center;
  width: 280px;
  height: 351px;
  opacity: 0.8;
  background-color: #fcfcfb;
  border-radius: 8px;
  padding: 24px 18px;
  @media screen and (min-width: 768px) {
    position: absolute;
    margin-left: auto;
    width: 331px;
    height: 470px;
    padding: 24px 32px;
    right: 37px;
  }
  @media screen and (min-width: 1280px) {
    position: relative;
    left: 388px;
  }
}

.list-menu-text {
  display: flex;
  column-gap: 7px;
  @media screen and (min-width: 768px) {
    column-gap: 11px;
  }
}
.list-menu-text + .list-menu-text {
  @media screen and (min-width: 768px) {
    margin-top: 60px;
  }
}

.list-item-text {
  border: 1px solid rgb(45, 42, 34);
  width: 101px;
  height: 101px;
  align-items: center;
  padding-top: 15px;
  border-radius: 50px;
  margin-left: auto;
}


.item-text {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.list-text {
  color: rgb(126, 109, 83);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  margin-top: 40px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}
