.infrastructure {
  height: 557px;
  background-color: rgb(237, 233, 227);
  @media screen and (min-width: 768px) {
    height: 670px;
  }
}

.container-infra {
  position: relative;
  padding-left: 0;
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding: 0 68px;
    margin: 0 auto;
  }
}

.text-infrastructure {
  padding: 60px 0 24px 20px;
  color: rgb(126, 109, 83);
  font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
  @media screen and (min-width: 768px) {
    padding: 100px 0 24px 32px;
    font-size: 40px;
    line-height: 60px;
  }
  @media screen and (min-width: 1280px) {
    padding: 100px 0 20px 68px;
  }
}

.background-fon {
  position: relative;

  width: 100%;
  min-width: 320px;
  height: 431px;
  padding: 40px 20px;

  background-image: url(../images/mobile/infrastructure-mb.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 768px) {
    width: 100%;
    min-width: 768px;
    height: 486px;
    padding: 8px 37px 8px 0;

    background-image: url(../images/tablet/infrastructure-tb.jpg);
  }

  @media screen and (min-width: 1280px) {
    min-width: 1144px;
    width: 1144px;
    height: 486px;
    margin: 0 auto;

    background-image: url(../images/dasktop/infrastructure-dt.jpg);
  }
}

.list-menu-text.fon-infrasrtructure {
  width: 280px;
  height: 351px;
  margin: 0 auto;
  padding: 24px 18px;
  border-radius: 8px;

  opacity: 0.8;
  background-color: #fcfcfb;

  @media screen and (min-width: 768px) {
    position: absolute;
    right: 37px;

    width: 331px;
    height: 470px;
    padding: 24px 32px;
    row-gap: 60px;
    margin-left: auto;
  }
}

.list-menu-text {
  display: flex;
  flex-direction: column;
  column-gap: 7px;

  @media screen and (min-width: 768px) {
    column-gap: 11px;
  }
}

.list-item-text {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 244px;
  height: 101px;
  border-radius: 50px;

  @media screen and (min-width: 768px) {
    width: 267px;
  }
}

.item-text {
  padding: 15px;
  text-align: center;
  border-radius: 50%;

  border: 1px solid rgb(45, 42, 34);
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.list-text {
  text-align: center;

  color: rgb(126, 109, 83);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}
