.backdrop {
  transition: opacity 500ms cubic-bezier(0.17, 0.67, 0.69, 0.93) 500ms;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #00000033;
}

.modal {
  transform: translate(-50%, -50%);
  transition: opacity 100ms cubic-bezier(0.17, 0.67, 0.69, 0.93) 200ms;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 530px;
  height: 624px;
  background-color: #fff;
  border-radius: 16px;
}

.modal-close-btn {
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  width: 410px;
  color: rgb(53, 50, 45);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0%;
  margin-top: 60px;
  text-align: center;
  margin-bottom: 40px;
  margin-left: 60px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.modal-form + .modal-form {
  margin-top: 20px;
}

.input-modal {
  width: 410px;
  height: 52px;
  border: 1px solid rgb(58, 54, 49);
  border-radius: 16px;
  background: rgb(252, 252, 251);
  padding-left: 16px;
  color: rgb(153, 158, 163);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
}

.label-modal {
  color: rgb(53, 50, 45);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 12px;
}

.send-btn {
  display: block;
  border-radius: 8px;
  background: rgb(126, 109, 83);
  border: none;
  width: 224px;
  height: 54px;
  color: rgb(252, 252, 251);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  margin: 40px 155px;
}
