//!hero
.hero{
    background-image: url('../images/mobile/hero-mb.jpg');
    max-width: 320px;
    padding-top: 15px;
    padding-bottom: 60px;
    text-align: center;
    margin: 0 auto;
}

.hero-title{
    font-family: $font-family;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    // width: 228px;
    color:$maincolor;
}
.hero-text{
    font-family: $font-family;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    // width: 184px;
    margin-bottom: 247px;
    color:$maincolor;
}
.hero-button{
    font-family: $font-family;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    border: 0;
    border-radius: 16px;
    width: 200px;
    height: 50px;
    background-color:$secondry-color;
}