.hero {
  position: relative;

  width: 100%;
  padding-top: 15px;
  padding-bottom: 60px;
  margin: 0 auto;
  text-align: center;

  background-image: url('../images/mobile/hero-mb.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 768px) {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 100px;

    background-image: url('../images/tablet/hero-tb.jpg');
  }
  @media screen and (min-width: 1280px) {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 100px;

    background-image: url('../images/dasktop/hero-dt.jpg');
  }
}
.hero-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  color: $maincolor;

  @media screen and (min-width: 768px) {
    font-size: 72px;
    line-height: 108px;
  }
}
.hero-text {
  margin-bottom: 247px;
  font-size: 16px;
  line-height: 24px;
  color: $maincolor;

  @media screen and (min-width: 768px) {
    margin-bottom: 383px;
    font-size: 24px;
    line-height: 36px;
  }
}
.hero-button {
  width: 200px;
  height: 50px;

  font-size: 20px;
  line-height: 1.5;
  border: 0;
  border-radius: 16px;
  background-color: $secondry-color;
  cursor: pointer;
  @extend %animation-button;

  @media screen and (min-width: 768px) {
    width: 256px;
    height: 54px;

    font-size: 24px;
    line-height: 1.5;
  }
}
